header {
  padding: 10px 150px;
  border: #e8ebeb solid 1px;
}

header img {
  width: 160px;
  height: 45px;
}

section {
  padding: 30px 130px 30px 150px;
}

section div {
  display: flex;
  gap: 45px;
}

.description {
  margin-top: 15px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}

section h2 {
  font-family: system-ui, sans-serif;
  font-size: 32px;
  font-weight: bold;
  color: #2e3333;
}

section img {
  width: 350px;
  height: 200px;
  border-radius: 5px;
}

section p {
  color: #939ea9;
  font-family: system-ui, sans-serif;
  font-size: 20px;
  line-height: 28.8px;
  width: 850px;
}
.menu {
  background-color: #f2f5f5;
  height: 300px;
}
