header {
  padding: 10px 150px;
  border: #e8ebeb solid 1px;
}

header img {
  width: 160px;
  height: 45px;
}

.descrip {
  padding: 30px 130px 30px 150px;
}

section div {
  display: flex;
  gap: 45px;
}

.description {
  margin-top: 15px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}

section h2 {
  font-family: system-ui, sans-serif;
  font-size: 32px;
  font-weight: bold;
  color: #2e3333;
}

section img {
  width: 350px;
  height: 200px;
  border-radius: 5px;
}

section p {
  color: #939ea9;
  font-family: system-ui, sans-serif;
  font-size: 20px;
  line-height: 28.8px;
  width: 850px;
}
.menu {
  background-color: #f2f5f5;
  padding: 22px 130px 30px 150px;
}

.category {
  font-family: system-ui, sans-serif;
  font-size: 24px;
  margin-bottom: 26px;
  color: #2e3333;
}

.imagesgroup {
  margin-bottom: 52px;
  display: flex;
  flex-wrap: wrap;
}
.images {
  padding: 19px 15px;
  width: 403px;
  height: 132px;
  background-color: #fff;
  border-radius: 10px;
  display: flex;
}

.desc {
  font-family: system-ui, sans-serif;
  font-size: 14px;
  color: #808484;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}

.title3 {
  font-family: system-ui, sans-serif;
  font-size: 18px;
  color: #2f3434;
  width: 184px;
  line-height: 20.6px;
}

.title3bis {
  font-family: system-ui, sans-serif;
  font-size: 18px;
  color: #2f3434;
  width: 385px;
  line-height: 20.6px;
}
.spanou {
  margin-top: -30px;
  width: 208px;
}
.spanoubis {
  margin-top: -30px;
  width: 385px;
}

h4 {
  font-family: system-ui, sans-serif;
  font-size: 17px;
  color: #808484;
  margin-top: -15px;
}

.images img {
  object-fit: cover;
}
.pic {
  width: 130px;
  height: 130px;
  object-fit: cover;
}
.prix {
  display: flex;
  margin-top: 2px;
}
.prixbis {
  margin-top: -20px;
}

.popu {
  margin-top: -17px;
  margin-left: -20px;
  width: 110px;
  height: 20px;
}

.hidden {
  display: none;
}
